body,html {
    margin: 0;
    padding: 0
}

body {
    font-family: arial;
    background-color: #ffffff
}

.header1 {
    color: #6f1200;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: 400
}

.sub_title_1,body {
    font-size: 13px
}

.sub_title_2 {
    font: 17px georgia;
    color: #6f1200;
    margin-bottom: 3px
}

#wrapper-outer {
    position: relative
}

#asp-template-left-news,#asp-template-left-super-news {
    margin-top: 10px;
    padding-right: 10px
}

.sub_title_1 {
    font-weight: 700
}

#srchbox {
    position: absolute;
    top: 33px;
    right: 15px
}

#nav-left a,#srchbox a,#top-menu-bar li a,#top-menu-bar9 li a {
    color: #585858;
    text-decoration: none
}

#nav-left a:hover,#srchbox a:hover,#top-menu-bar li a:hover,#top-menu-bar9 li a:hover {
    color: #ac4d37;
    text-decoration: underline
}

#srchinner {
    position: relative
}

#srchl,#srchr {
    position: absolute;
    left: 0;
    top: 28px;
    font: 700 12px arial
}

#srchr {
    left: 110px
}

.hide-in-regular {
    display: none
}

#srchdots {
    position: absolute;
    top: 34px;
    left: 88px;
    width: 4px;
    height: 19px;
    background: url(https://www.wichita.edu/thisis/zed/images/srchdots.gif)
}

#srchset {
    width: 213px;
    height: 28px;
    background: url(https://www.wichita.edu/thisis/zed/images/srchboxbg.gif) no-repeat
}

.srchbtn,.srchinput {
    position: absolute;
    top: 0
}

.srchinput {
    left: 0;
    border: 1px solid #b9b9b9;
    font: 15px arial;
    padding-left: 5px;
    -moz-box-shadow: 3px 3px 4px #eaeaea;
    -webkit-box-shadow: 3px 3px 4px #eaeaea;
    box-shadow: 3px 3px 4px #eaeaea;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#eaeaea')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#eaeaea');
    width: 169px;
    height: 18px
}

.srchbtn {
    width: 31px;
    height: 28px;
    right: 0;
    cursor: pointer
}
#menu-button,#nav-left>ul>li>ul {
    display: none
}

.button {
    position: relative;
    background-color: #ffc41e;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

#dept-title,#supernav_dept_header {
    font-weight: 700;
    margin-bottom: 10px
}

#top-bar-black {
    height: 12px;
    background-color: #525252
}

#top-logo-image {
    margin-top: 21px;
    margin-left: 30px;
    margin-bottom: 20px
}

#top-menu-bar,#top-menu-bar9 {
    width: 100%;
    min-height: 29px;
    background-image: url(https://www.wichita.edu/thisis/zed/images/dt_top_gray_bar.gif)
}

#top-menu-bar ul {
    padding: 0;
    margin: 0 0 0 8px
}

#top-menu-bar li,#top-menu-bar9 li {
    display: block;
    margin-top: 7px;
    margin-left: 1px;
    margin-right: 1px;
    float: left;
    list-style: none;
    width: 107px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px
}

#top-menu-bar9 {
    background-image: url(https://www.wichita.edu/thisis/zed/images/dt_top_gray_bar9.gif)
}

#top-menu-bar9 ul {
    padding: 0;
    margin: 0
}

#top-menu-bar9 li {
    width: 95px
}

#dept_header,#dt_left_bar_header {
    padding-bottom: 10px;
    text-transform: uppercase
}

#nav-left a {
    color: #000
}

#nav-left li {
    list-style: none
}

#nav-left ul {
    margin-left: 0;
    padding-left: 0
}

#nav-left a,#nav-left>ul>li {
    font-weight: 700
}

#nav-left>ul>li>ul>li {
    margin-top: 3px;
    margin-bottom: 3px
}

#content1 h3,#nav-left>ul>li>ul>li a {
    font-weight: 400!important
}

#footer-dt {
    border-top: 1px solid #999;
    padding-top: 10px;
    font-size: 11px;
    line-height: normal
}

#footer-dt,#footer-dt a {
    color: #969696
}

#footer-dt a:hover {
    color: #ac4d37
}

#footer-wsu {
    margin-top: 10px;
    text-align: center;
    font-size: 11px
}

#footer-black-top {
    background-color: #444;
    color: #fff;
    padding: 3px;
    letter-spacing: 1px
}

#footer-content {
    padding: 3px;
    color: #969696
}

#footer-black-top a {
    color: #fff;
    text-decoration: none
}

#footer-black-top a:hover,#footer-content a:hover {
    color: #fff;
    text-decoration: underline
}

#footer-content a {
    color: #969696
}

#footer-content a:hover {
    color: #ac4d37
}

.sidebar1 {
    background-color: #eaeaea;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 160px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#content1 td,th {
    word-wrap: break-word!important
}

#content1 h1,#content1 h2 {
    font: 28px georgia;
    line-height: normal;
    margin-top: 4px;
    font-weight: 400!important;
    font-style: normal!important;
    margin-bottom: 5px
}

#content1 h2 {
    font: 24px georgia
}

#content1 h3 {
    font: 20px georgia
}

#content1 h3,#content1 h4,#content1 h5,#content1 h6 {
    line-height: normal;
    margin-top: 0;
    font-style: normal!important;
    margin-bottom: 5px
}

#content1 h4 {
    font-weight: 400!important;
    font: 17px georgia
}

#content1 h5,#content1 h6 {
    font: 700 15px georgia!important
}

#content1 h6 {
    font: 700 13px georgia!important
}

h1 b,h1 strong,h2 b,h2 strong,h3 b,h3 strong,h4 b,h4 strong,h5 b,h5 strong,h6 b,h6 strong {
    font-weight: lighter
}

h1 em,h1 i,h2 em,h2 i,h3 em,h3 i,h4 em,h4 i,h5 em,h5 i,h6 em,h6 i {
    font-style: normal
}

#content1 h1,#content1 h2,#content1 h3,#content1 h4,#footer-content a,h1 u,h2 u,h3 u,h4 u,h5 u,h6 u {
    text-decoration: none
}

#contact-box {
    margin-top: 10px;
    word-wrap: normal;
    width: 167px;
    color: #636466;
    line-height: normal
}

#contact-box a {
    color: #636466;
    font-weight: 400
}

#content1 {
    line-height: 18px
}

#content1 a {
    color: #4f4b6a
}

#content1 a:hover {
    color: #ac4d37
}

.dt_left_bar_hr {
    display: none
}

#nav-left>ul>li,ul.left_nav_1 li {
    margin-top: 8px;
    margin-bottom: 8px
}

.stripetable tr:nth-child(odd) {
    background-color: #eaeaea!important
}

.stripetable tr:nth-child(even) {
    background-color: #fff!important
}

.stripetable {
    border-spacing: 0;
    border-collapse: collapse
}

.stripetable td {
    padding: 5px
}

img {
    border: 0
}

.inthenews_header {
    color: #6f1200;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px
}

.supernews_item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700
}

.supernews_item a {
    color: #000;
    text-decoration: none
}

.supernews_item a:visited {
    color: #7e4a5e
}

.supernews_item a:hover {
    color: #ac4d37;
    text-decoration: underline
}

#asp_top_image {
    text-align: center;
    margin-top: 10px;
    display: none
}

#sidebar,#sidebar2 {
    width: 160px;
    border: 1px solid #cacaca;
    border-right: 2px solid #cacaca;
    border-bottom: 2px solid #cacaca;
    padding: 0 8px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    background-color: #f7f7f7;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    white-space: normal;
    margin-left: 10px
}

.input-required {
    border: 3px solid red
}

.resp-test,.slideshow-image-div,.slideshow-image-div-inner {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.slideshow-image-div {
    border: 5px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ccc;
    text-align: center
}

.resp-test,.slideshow-image-div-inner {
    text-align: left;
    padding: 10px;
    background-color: #eaeaea
}

.resp-test {
    z-index: 10000000;
    position: fixed;
    top: 7px;
    left: 50%;
    width: 160px;
    background-color: red;
    margin-left: -80px;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: 700
}

.dtinfofooter {
    border-top: 1px solid #999;
    padding-top: 5px;
    margin-top: 25px;
    font-size: 11px;
    line-height: 14px;
    color: #999
}

#google_translate_element {
    float: left;
    bottom: 20px;
    right: 220px
}

#ksdegreestats {
    float: right;
    bottom: 25px;
    height: 31px;
    width: 151px
}

body.cke_editable {
	margin: 20px;
}
