.blackbar_added {
    padding-right: 0 ;
    text-transform: uppercase;
}

.blackbar_added a {
    margin-right: 15px !important ;
}

.major_detail_ul {
    margin: 0 ;
    padding-left: 25px ;
    padding-top: 5px ;
}

.major_detail_ul a, .major_detail_ul a:visited {
    text-decoration: none ;
    color: #000 ;
}

.major_detail_ul a:hover {
    text-decoration: underline ;
}

.dtinfofooter {
    border-top: 1px solid #999 ;
    padding-top: 5px ;
    margin-top: 25px ;
    font-size: 11px ;
    line-height: 14px ;
    color: #999 ;
    margin-bottom: 20px ;
}

.menu_above_flash {
    position: absolute;
    background-color: #000;
    bottom: 0;
    height: 45px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#flash_placeholder {
    height: 305px;
    overflow: hidden;
    position: relative;
}

.menu_above_flash_inner {
    padding: 14px 0 0 14px ;
    display: block;
}

.menu_above_flash_inner a, .menu_above_flash_inner a:visited {
    font-size: 14px ;
    font-weight: bold ;
    color: #fff !important;
    text-decoration: none ;
}

.menu_above_flash_inner a:hover {
    font-weight: bold ;
    color: #ac4d37 ;
    text-decoration: underline ;
}

#flash-blacktop {
    background-color: #000;
    /*
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    */
    height: 14px;
    width: 100%;
}

.menu_above_flash_inner ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu_above_flash_inner li {
    display: inline;
    padding: 0;
    margin: 0;
}

#pushdown {
    display: table-cell;
    width: 170px;
    padding-left: 10px;
    vertical-align: top;
}

#div-left {
    display: table-cell;
    vertical-align: top;
    width: 385px;
    padding-right: 10px;
    line-height: 21px;
}

.emp {
    font-weight: bold;
    color: #8c1000;
}

#content-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

#div2 {
    display: table-cell;
}

.item_right8 {
    margin-top: 10px ;
    line-height: 15px ;
}

.item_right8 a {
    font-weight: bold ;
    color: #000 ;
    text-decoration: none ;
}

.more a {
    font-weight: bold;
    text-decoration: none;
}

.item_right8 a:hover, .more a:hover {
    color: #ac4d37 ;
    text-decoration: underline !important ;
}

.item_right8 a:visited {
    text-decoration: none ;
}

.item_right_small {
    margin-left: 5px ;
    font-size: 12px ;
    line-height: 16px ;
}

.item_right_big {
    font-weight: bold ;
    margin-top: 12px ;
    line-height: 16px ;
}

.item_right_small {
    margin-left: 5px ;
    font-size: 12px ;
    line-height: 16px ;
}

.item_right_big a, .item_right_small a {
    color: #000 ;
    text-decoration: none ;
}

.item_right_big a:hover, .item_right_small a:hover {
    text-decoration: underline ;
}

.div3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#flash_div {

}


@media screen and (max-width:560px) {
    /* for dt landing page */
    #flash-blacktop, .menu_above_flash {
        display: none;
    }

    #div-left, #pushdown {
        display: block;
        width: 100%;
    }

    #pushdown {
        margin-top: 10px;
        padding: 0;
        font-size: 17px !important;
        line-height: 20px;
        color: #525252;
    }

    #pushdown a {
        margin-top: 10px;
        padding: 0;
        font-size: 17px !important;
        line-height: 20px;
        color: #525252;
    }

    #pushdown .item_right_small {
        font-size: 17px !important;
        line-height: 25px;
        margin-top: 10px;
    }

    #menu_above_flash_inner_ul {
        border-bottom: 1px solid #999;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        line-height: 25px;
    }

    .award {
        text-align: center;
        margin-top: 15px !important;
        margin-left: 0 !important;
        padding: 0;
        padding-top: 15px;
        background: none !important;
        width: 100% !important;
    }

    .award img {
        width: 100% !important;
        margin: 0 auto;
    }

    #div-left {
        padding: 3px !important;
    }

    #flash_placeholder object, #flash_placeholder div {
        display: none;
    }

    #flash_placeholder img {
        width: 100%;
    }

    #supple_ads div {
        margin: 5px;
    }
}
