[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, select{
    padding: 0.5rem;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], [type='range'], textarea, select {
    margin-bottom: 0.5rem;

}

.help-block {
    font-size: small;
    color: #333;
}
/*
fieldset {
padding: 30px;
background:rgb(216 229 239);
}

fieldset {
    padding: 30px;
}

fieldset > .container {
    padding: 10px;
    margin-bottom: 1.825rem;
background: #ffffff;
}

fieldset > .container:nth-child(odd) {
background: #f3f3f3;
}

.Fall-semester, .Fall-semester > legend {
background: #f9e1a0;
}
.Spring-semester, .Spring-semester > legend {
background: #d6ffc3;
}
.Summer-semester, .Summer-semester > legend {
background:rgb(254, 251, 153);
}
legend {
    padding: 2px 10px 0px 10px;
    border-radius: 5px;
    background:rgb(216 229 239);
}
    */

.footnotes-indicator {
    display: inline-block;
    margin-left: 1.5rem;
}
.footnote-pill {
display: inline-block;
background: #b6dbed;
border-radius: 4px;
padding: 0.3em 0.6em;
margin-right: 5px;
font-size: 0.9em;
}

#ajaxSaveBtn {
    position: fixed;
    bottom: 20px;  /* adjust this value for vertical spacing from the bottom */
    right: 100px;   /* adjust this value for horizontal spacing from the right */
    z-index: 1000; /* ensure it sits on top of other elements */
    box-shadow: 5px 5px 6px 0px #00000060;
  }

table.course_hours_table input {
    display: inline;
    width: 80px;
}

span.calculated_hours:before {
    content: "Calc.: ";
}

span.calculated_hours {
    margin-left: 1rem;
    font-weight: 600;
    padding: 0.6rem;
    font-size: small;
    border-radius: 5px;
}

.success {
    background:rgb(0, 255, 71);
}

.warning {
    background:rgb(255, 138, 0);
}

.danger {
    background:rgb(232, 0, 0);
}
.remove-course-btn {
    border-radius: 5px;
    border: 1px solid #333;
}
.remove-footnote-btn {
    border-radius: 5px;
}

li.course-item, li.footnote-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}
li.course-item:nth-child(odd), li.footnote-container:nth-child(odd) {
    background: #f3f3f3;
}
li.course-item:nth-child(even), li.footnote-container:nth-child(even) {
    background: #ffffff;
}
.ui-widget-content .footnote-container a {
    color: #fff;
    margin-bottom: 0;
    margin-left: 20px;
}

.ui-widget-content .footnote-container a:hover {
    color: #000;
}

.footnote-container > .row {
    width: 100%;
}

.drag-handle {
    display: block;
    height: 34px;
    width: 34px;
    min-width: 34px;
    cursor: grab;
    text-align: center;
    margin-right: 10px;
}

a.edit_course, a.new_course, a.new_footnote, a.remove-footnote-btn {
    display: block;
    width: 34px;
    height: 34px;
    min-width: 34px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 0;
}

a.new_course, a.new_footnote {
    margin-left: 0;
    margin-right: 10px;
}


ul.semester-list, ul.footnotes-list {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.ui-dialog-buttonpane .ui-button {
    display: flex;
    align-items: center;
    gap: 6px; /* Space between icon and text */
    padding: 6px 12px; /* Adjust padding for balance */
    font-size: 14px;
}

.ui-button-danger {
    background: #bb4935;
    color: white;
}

.ui-button-primary {
    background: #0073aa;
    color: white;
}

li.course-item .content, li.footnote-container .content {
    width: 100%;
}

.content .hours {
    font-weight: 700;
    float: right;
}

.new-footnote-button-area {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background: #ffc217;
    margin-bottom: 1.5em;
}

svg.size-6 {
    margin-right: 0.5em;
}

.course-extra {
	font-size: 0.85em;
	color: #666;
	margin-top: 4px;
	line-height: 1.3;
}