#scroller { position: relative; }

/*    For the inner holder, we clip anything that runs over, via "overflow: hidden".  We position the holder to fully fill its parent, the #scroller div.*/
#scroller .innerScrollArea
{
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/*    On the unordered list that holds our photos, we remove the default margin and padding.  We also use "position: relative" so the list items can be laid out in a horizontal row.*/
#scroller ul
{
	padding: 0;
	margin: 0;
	position: relative;
}

/*    On the individual list items, we remove the default padding, margin and list bullets.  The position is set to absolute; we'll use JavaScript to set the precise left positioning value.*/
#scroller li
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: absolute;
}
