@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,400,400i,600,700,700i);

html { font-size: 14px; }

body
{
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	/* background-color: #153e50;*/
	background-color: #ffffff;
}

.page-nav-arrow-container a { color: black; }
.page-nav-arrow-container a:hover { color: #333; }

.page-nav-arrow-container
{
	display: inline-block;
	padding: 10px;
}

@media only screen and (max-width: 780px) {
	.page-nav-arrow-text {
		display: none;
	}
	.page-nav-arrow-container .fa-4x {
		font-size: 3em;
		margin-top: 25px;
	}

}

.page-nav-arrow
{
	vertical-align: middle;
	font-size: 20px;
}


.btn small
{
    border-top-style: solid;
    border-top-width: thin;
    font-size: .7rem;
    font-weight: 400;
    line-height: .5rem;
}

.btn-keep {
  line-height: 0.95rem !important;
  color: #FFFFFF;
  background-color: #6C757D;
  border-color: ;
}

.btn-keep:hover,
.btn-keep:focus,
.btn-keep:active,
.btn-keep.active,
.open .dropdown-toggle.btn-keep {
  color: #FFFFFF;
  background-color: #28A745;
  border-color: ;
}

.btn-keep:active,
.btn-keep.active,
.open .dropdown-toggle.btn-keep {
  background-image: none;
}

.btn-keep.disabled,
.btn-keep[disabled],
fieldset[disabled] .btn-keep,
.btn-keep.disabled:hover,
.btn-keep[disabled]:hover,
fieldset[disabled] .btn-keep:hover,
.btn-keep.disabled:focus,
.btn-keep[disabled]:focus,
fieldset[disabled] .btn-keep:focus,
.btn-keep.disabled:active,
.btn-keep[disabled]:active,
fieldset[disabled] .btn-keep:active,
.btn-keep.disabled.active,
.btn-keep[disabled].active,
fieldset[disabled] .btn-keep.active {
  background-color: #6C757D;
  border-color: ;
}

.btn-keep .badge {
  color: #6C757D;
  background-color: #FFFFFF;
}

.btn-needswork {
  line-height: 0.95rem !important;
  color: #FFFFFF;
  background-color: #6C757D;
  border-color: ;
}

.btn-needswork:hover,
.btn-needswork:focus,
.btn-needswork:active,
.btn-needswork.active,
.open .dropdown-toggle.btn-needswork {
  color: #856404;
  background-color: #fff3cd;
  border-color: #856404;
}

.btn-needswork:active,
.btn-needswork.active,
.open .dropdown-toggle.btn-needswork {
  background-image: none;
}

.btn-needswork.disabled,
.btn-needswork[disabled],
fieldset[disabled] .btn-needswork,
.btn-needswork.disabled:hover,
.btn-needswork[disabled]:hover,
fieldset[disabled] .btn-needswork:hover,
.btn-needswork.disabled:focus,
.btn-needswork[disabled]:focus,
fieldset[disabled] .btn-needswork:focus,
.btn-needswork.disabled:active,
.btn-needswork[disabled]:active,
fieldset[disabled] .btn-needswork:active,
.btn-needswork.disabled.active,
.btn-needswork[disabled].active,
fieldset[disabled] .btn-needswork.active {
  background-color: #6C757D;
  border-color: ;
}

.btn-needswork .badge {
  color: #6C757D;
  background-color: #FFFFFF;
}


.btn-trash {
  line-height: 1rem !important;
  color: #FFFFFF;
  background-color: #6C757D;
  border-color: ;
}

.btn-trash:hover,
.btn-trash:focus,
.btn-trash:active,
.btn-trash.active,
.open .dropdown-toggle.btn-trash {
  color: #FFFFFF;
  background-color: #DC3545;
  border-color: ;
}

.btn-trash:active,
.btn-trash.active,
.open .dropdown-toggle.btn-trash {
  background-image: none;
}

.btn-trash.disabled,
.btn-trash[disabled],
fieldset[disabled] .btn-trash,
.btn-trash.disabled:hover,
.btn-trash[disabled]:hover,
fieldset[disabled] .btn-trash:hover,
.btn-trash.disabled:focus,
.btn-trash[disabled]:focus,
fieldset[disabled] .btn-trash:focus,
.btn-trash.disabled:active,
.btn-trash[disabled]:active,
fieldset[disabled] .btn-trash:active,
.btn-trash.disabled.active,
.btn-trash[disabled].active,
fieldset[disabled] .btn-trash.active {
  background-color: #6C757D;
  border-color: ;
}

.btn-trash .badge {
  color: #6C757D;
  background-color: #FFFFFF;
}
h2
{
	font-weight: 600;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 16px; 
	padding-right: 16px;
	background-color: #000;
	color: #FFC217;
	margin-top: 30px;
	margin-bottom: 20px;
}



.btn-wsu
{
	color: #000000 !important;
	background-color: #FFC217 !important;
	border-color: #D19900 !important;
	-webkit-appearance: none !important;
}

.btn-wsu:hover,
		.btn-wsu:focus,
		.btn-wsu:active,
		.btn-wsu.active,
		.open .dropdown-toggle.btn-wsu
{
	color: #000000 !important;
	background-color: #FFCE00 !important;
	border-color: #D19900 !important;
}

.btn-wsu:active,
		.btn-wsu.active,
		.open .dropdown-toggle.btn-wsu { background-image: none; }

.btn-wsu.disabled,
		.btn-wsu[disabled],
		fieldset[disabled] .btn-wsu,
		.btn-wsu.disabled:hover,
		.btn-wsu[disabled]:hover,
		fieldset[disabled] .btn-wsu:hover,
		.btn-wsu.disabled:focus,
		.btn-wsu[disabled]:focus,
		fieldset[disabled] .btn-wsu:focus,
		.btn-wsu.disabled:active,
		.btn-wsu[disabled]:active,
		fieldset[disabled] .btn-wsu:active,
		.btn-wsu.disabled.active,
		.btn-wsu[disabled].active,
		fieldset[disabled] .btn-wsu.active
{
	background-color: #FFC217 !important;
	border-color: #D19900 !important;
}

.btn-wsu .badge
{
	color: #FFC217 !important;
	background-color: #000000 !important;
}

.wsu-color { color: #FFC217 !important; }


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin #new_password {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin #dt_username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin #user_email {
  margin-top: 10px;
}






/* Move the lightbox arrows*/
.lb-nav a.lb-next
{
	position: fixed;
	right: 0;
	top: 0;
}

.lb-nav a.lb-prev
{
	position: fixed;
	left: 0;
	top: 0;
}

/* Experiments below */
#body-row
{
	margin-left: 0;
	margin-right: 0;
}

#sidebar-container
{
	min-height: 100vh;
	background-color: #333;
	padding: 0;
	white-space: nowrap;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded { width: 230px; }
.sidebar-collapsed { width: 60px; }

/* Menu item*/
#sidebar-container .list-group a
{
	height: 44px;
	color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a
{
	height: 45px;
	padding-left: 30px;
}

.sidebar-submenu { font-size: 0.9rem; }

/* Separators */
.sidebar-separator-title
{
	background-color: #333;
	height: 35px;
}

.sidebar-separator
{
	background-color: #333;
	height: 25px;
}

.logo-separator
{
	background-color: #333;
	height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after
{
	content: " \f0d7";
	font-family: FontAwesome;
	display: inline;
	text-align: right;
	padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after
{
	content: " \f0da";
	font-family: FontAwesome;
	display: inline;
	text-align: right;
	padding-left: 10px;
}

/* Additional padding for nested submenus */
#sidebar-container .list-group-item { background-color: #343a40; }
#sidebar-container .sidebar-submenu > .sidebar-submenu > .list-group-item { padding-left: 45px !important; }
#sidebar-container .sidebar-submenu > .sidebar-submenu > .sidebar-submenu > .list-group-item { padding-left: 60px !important; }

/* Reset Select */
#sidebar-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #343a40;
  background-image: none;
}
/* Custom Select */
.select_style_wrapper
{
	position: relative;
	display: block;
	width: 100%;
	height: 38px;
	line-height: 3;
	background: #343a40;
	overflow: hidden;
	/*border-top: 1px #333 solid;*/
}

.select_style_wrapper  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #343a40;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 20px;
  color: #fff;
  cursor: pointer;

}
.select_style_wrapper select:hover
{
  background-color: #1d2124!important;
}



#sidebar-container select:hover
{
  background-color: #1d2124!important;
}

#sidebar-container select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 20px;
  color: #fff;
  cursor: pointer;
}
#sidebar-container select::-ms-expand {
  display: none;
}
/* Arrow */
.select_style_wrapper::after
{
	content: '\f0d7';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: #333;
	color: #fff;
	text-align: right;
	pointer-events: none;
	font-family: fontawesome;
	padding-top: 0;
	padding-right: 20px;
	padding-left: 20px;
}

.sidebar-collapsed .select_style_wrapper::after
{
	text-align: center;
	padding-right: 30px;
	padding-left: 30px;
}


/* Transition */
.select_style_wrapper:hover::after {
  color: #FFCE00;
  background-color: #1d2124!important;
}



.cke_source {
    white-space: pre-wrap !important;
}

